
.btn {
    margin: 8rem 8rem;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    color: azure;
    font-size: 1.2rem;
    position: relative;
  }

  .btn:hover {
    cursor: pointer;
  }

  .popover {
    width: 10rem;
    border: 1px solid grey;
    background-color: rgb(247, 246, 246);
    position: absolute;
    z-index: 100;
  }
  .popover-title {
    padding: 0.2rem;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: medium;
    font-weight: bold;
    background-color: lightgray;
    border-bottom: 1px solid grey;
    
  }
  .popover-content {
    padding: 0.2rem;
    font-size: small;
    color: black;
  }